body{
    display: grid;
    grid-template-rows: 125px 1fr auto;
    min-height: 100vh;
    font-family: var(--font-text);
}

main{
    display: flex;
    flex-direction: column;
    gap: 64px;
    padding: 24px 60px 64px 60px;
}

.book-area{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 64px;
}

.book-area .book-img{
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid 14px var(--blue);
    padding: 32px;
}

.book-img img{
    width: 18rem;
    height: 26rem;
}

.book-area .book-details{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    height: 100%;
    padding-block: 64px;
    gap: 32px;
}

.book-details .book-title{
    font-family: var(--font-blog);
    font-weight: 400;
    font-size: 2.2rem;
    width: max-content;
}

.book-details .book-synopsis{
    text-align: justify;
    font-size: 1.5rem;
} 

.book-details .book-info{
    display: flex;
    flex-direction: column;
    font-size: 1.4rem;
    font-weight: 600;
}

@media (max-width: 768px){

    body{
        display: flex;
        flex-direction: column;
    }

    main{
        padding-inline: 0;
    }

    .book-area{
        flex-direction: column;
        gap: 32px;
    }

    .book-img img{
        width: 14rem;
        height: 20rem;
    }

    .book-area .book-details{
        padding: 0;
        width: 80%;
        align-items: center;
    }

    .book-details .book-title{
        font-size: 140%;
    }

    .book-details .book-synopsis{
        font-size: 1.2rem;
    }

    .book-info{
        place-self: flex-start;
    }

}
