header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-inline: 60px;
}

h1{
    font-size: 2rem;
    font-family: var(--font-title);
    color: var(--blue);
}

.container-options{
    display: flex;
    align-items: center;
    gap: 2rem;
    height: 100%;
}

.options{
    display: grid;
    grid-template-columns: 100px 100px 140px 100px;
    height: fit-content;
    align-items: center;
    font-size: 1.2rem;
    cursor: pointer;
    text-align: center;
}

.options a{
    color: initial;
    text-decoration: none;
    justify-content: center;
}

.book-options{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    position: relative;
}

.overflow{
    overflow: hidden;
}

.books-flag{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 0.8rem;
    width: 110%;
    position: absolute;
    background-color: var(--white);
    top: 100%;
    z-index: 3;
}

.books-flag a{
    border: 1px solid #F3F3F3;
    padding: 10px 6px;
    width: 100%;
}

.options a:hover, .book-options span:hover{
    font-weight: 600;
    color: var(--blue);
}

.social{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.social a{
    display: flex;
    align-items: center;
    justify-content: center;
}

.social a img{
    width: 1.6rem;
}

.social a:last-child img, .social a:nth-child(2) img{
    width: 1.8rem
}

#change-language-eua{
    width: 2rem;
}

#change-language-pt{
    width: 2rem;
}

.menu, .hamburger{
    display: none;
}

@media (max-width: 768px){

    header{
        height: 80px;
        justify-content: space-between;
        padding-inline: 32px;
        align-items: flex-start;
        padding-top: 1.2rem;
        position: sticky;
        top: 0%;
        background-color: var(--white);
        z-index: 1;
    }

    .container-options{
        display: none;
    }

    .hamburger {
        display: block;
        position: fixed;
        z-index: 100;
        top: 1.1rem;
        right: 32px;
        padding: 4px;
        border: none;
        background-color: unset;
        cursor: pointer;
    }

    .hamburger img{
        width: 2rem;
    }

    .menu {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 24px;
        position: fixed;
        transform: translateY(-100%);
        transition: transform 0.2s;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: var(--blue);
        color: white;
        list-style: none;
        padding-top: 4rem;
        z-index: 5;
    }

    .menu a{
        text-decoration: none;
        font-size: 1.4rem;
        color: var(--yellow);
    }

    .menu li:last-child{
        padding-top: 24px;
    }

    .menu li:last-child a{
        color: var(--white);
    }

    .closeIcon {
        display: none;
     }    

    .showMenu {
        transform: translateY(0);
    }

}