*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --font-title: 'Caprasimo', cursive;
    --font-blog: 'Courier Prime', monospace;
    --font-text: 'Poppins', sans-serif;
    --blue: #022542;
    --yellow: #FFDF8B;
}

body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-inline: 120px;
    gap: 100px;
    height: 125px;
}

h1{
    font-size: 2rem;
    font-family: var(--font-title);
    color: var(--blue);
}

.container-options{
    display: flex;
    gap: 24px;
}

.options{
    display: flex;
    align-items: center ;
    gap: 30px;
    font-family: var(--font-text);
    font-size: 1rem;
    cursor: pointer;
}

.social{
    display: flex;
    align-items: center;
    gap: 12px;
}

main{
    display: flex;
    flex-direction: column;
}

.section-start{
    display: flex;
}

.start-description{
    display: flex;

}
.start-description

.slide-img img{
    width: 500px;
    height: 450px;
}
