*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --font-title: 'Caprasimo', cursive;
    --font-blog: 'Courier Prime', monospace;
    --font-text: 'Poppins', sans-serif;
    --blue: #022542;
    --ligth-blue: #0059A3;
    --yellow: #FFDF8B;
    --white: #FFFFFF;
}

body{
    display: grid;
    grid-template-rows: 125px 1fr auto;
    min-height: 100vh;
    font-family: var(--font-text);
}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-inline: 120px;
    /* position: sticky;
    top: 0;
    background-color: var(--white);
    z-index: 1; */
}

h1{
    font-size: 2rem;
    font-family: var(--font-title);
    color: var(--blue);
}

.container-options{
    display: flex;
    gap: 2rem;
}

.options{
    display: grid;
    grid-template-columns: 100px 100px 140px 100px;
    align-items: center;
    font-size: 1.2rem;
    cursor: pointer;
    text-align: center;
}

.options a{
    color: initial;
    text-decoration: none;
}

.options a:hover span{
    font-weight: 600;
}

.social{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.social a{
    display: flex;
    align-items: center;
    justify-content: center;
}

.social a img{
    width: 1.6rem;
}

.social a:last-child img, .social a:first-child img{
    width: 1.8rem
}

main{
    display: flex;
    flex-direction: column;
    gap: 64px;
    padding: 24px 120px 64px 120px;
}

.book-area{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 64px;
}

.book-area .book-img{
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid 14px var(--blue);
    padding: 32px;
}

.book-img img{
    width: 18rem;
    height: 26rem;
}

.book-area .book-details{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    height: 100%;
    padding-block: 64px;
    gap: 32px;
}

.book-details .book-title{
    font-family: var(--font-blog);
    font-weight: 400;
    font-size: 2.2rem;
    width: max-content;
}

.book-details .book-synopsis{
    text-align: justify;
    font-size: 1.5rem;
} 

.book-details .book-info{
    display: flex;
    flex-direction: column;
    font-size: 1.4rem;
    font-weight: 600;
}

.comments-area{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 32px;
}

.comments-area h2{
    color: var(--blue);
    font-size: 2rem;
}

.comment-info{
    display: flex;
    flex-direction: column;
    gap: 24px;
    place-self: start;
}

.user{
    display: flex;
    align-items: center;
    gap: 12px;
}

.user .icon{
    height: 64px;
    width: 64px;
    border-radius: 50px;
    background-size: cover;
    background-repeat: no-repeat;
}

#laura{
    background-image: url(../img/icons/wendy.jpg);
    background-position-x: 12%;
}

#ana{
    background-image: url(../img/icons/bruninho.png);
    background-position: right;
}

#ryan{
    background-image: url(../img/icons/taylor.jpeg);
    background-position-x: 10%;
}

.user .username{
    font-size: 1.6rem;
    font-family: var(--font-blog);
    font-weight: 700;
    color: var(--blue);
}

.comment{
    font-size: 1.4rem;
}

footer{
    display: grid;
    grid-template-columns: 1fr 1fr auto;
    padding: 32px 120px;
    background-color: #022542;
    gap: 24px;
    color: var(--white);
}

.footer-info p{
    width: 80%;
}

.logo{
    color: inherit;
}

.footer-name, .footer-info{
    display: flex;
    flex-direction: column;
    gap: 12px;
}

footer h2{
    font-size: 1.3rem;
}

.footer-name .names{
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 6px;
}

.sesi{
    display: flex;
    align-items: center;
    justify-content: center;
}

.sesi img{
    width: 160px;
}