*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --font-title: 'Caprasimo', cursive;
    --font-blog: 'Courier Prime', monospace;
    --font-text: 'Poppins', sans-serif;
    --blue: #022542;
    --ligth-blue: #0059A3;
    --yellow: #FFDF8B;
    --white: #FFFFFF;
}

body{
    display: grid;
    grid-template-rows: 125px 1fr auto;
    min-height: 100vh;
    font-family: var(--font-text);
}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-inline: 120px;
}

h1{
    font-size: 2rem;
    font-family: var(--font-title);
    color: var(--blue);
}

.container-options{
    display: flex;
    gap: 2rem;
}

.options{
    display: grid;
    grid-template-columns: 100px 100px 140px 100px;
    align-items: center;
    font-size: 1.2rem;
    cursor: pointer;
    text-align: center;
}

.options a{
    color: initial;
    text-decoration: none;
}

.options a:hover span{
    font-weight: 600;
}

.social{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.social a{
    display: flex;
    align-items: center;
    justify-content: center;
}

.social a img{
    width: 1.6rem;
}

.social a:last-child img, .social a:first-child img{
    width: 1.8rem
}

main{
    display: flex;
    flex-direction: column;
    gap: 64px;
    padding: 24px 120px 72px 120px;
}

.selibi-area{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 64px;
}

.selibi-area .selibi-img{
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid 14px var(--blue);
    padding: 32px;
}

.selibi-img img{
    width: 18rem;
    height: 26rem;
}

.selibi-area .selibi-details{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    height: 100%;
    padding-block: 64px;
    gap: 32px;
}

.selibi-details .selibi-title{
    font-family: var(--font-blog);
    font-weight: 400;
    font-size: 2.2rem;
    width: max-content;
}

.selibi-details .selibi-description{
    text-align: justify;
    font-size: 1.5rem;
} 

.comments-area{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 32px;
}

.comments-area h2{
    color: var(--blue);
    font-size: 2rem;
}

.comments{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 64px;
}

.comment-info{
    display: flex;
    flex-direction: column;
    gap: 24px;
    place-self: start;
}

.user{
    display: flex;
    align-items: center;
    gap: 12px;
}

.user .icon{
    height: 64px;
    width: 64px;
    border-radius: 50px;
    background-size: cover;
    background-repeat: no-repeat;
}

#joao{
    background-image: url(../img/icons/scarface.jpg);
}

#ribeiro{
    background-image: url(../img/icons/);
}

#guedes{
    background-image: url(../img/icons/);
}

#julia{
    background-image: url(../img/icons/palmeiras.jpg);
}

#nicholas{
    background-image: url(../img/icons/messi.jpg);
    background-position: 45%;
}

#gabriela{
    background-image: url(../img/icons/sheilla.jpg);
}

#mariana{
    background-image: url(../img/icons/gracie.jpg);
}

#sara{
    background-image: url(../img/icons/diana.jpg);
    background-position: 20%;
}

#paiva{
    background-image: url(../img/icons/pompompurin.jpg);
}

.user .username{
    font-size: 1.6rem;
    font-family: var(--font-blog);
    font-weight: 700;
    color: var(--blue);
}

.comment{
    font-size: 1.4rem;
}

footer{
    display: grid;
    grid-template-columns: 2fr 1fr auto;
    padding: 32px 120px;
    background-color: #022542;
    gap: 24px;
    color: var(--white);
    text-align: justify;
}

.footer-info p{
    width: 80%;
}

.footer-name, .footer-info{
    display: flex;
    flex-direction: column;
    gap: 12px;
}

footer h2{
    font-size: 1.3rem;
    color: var(--yellow);
}

.footer-info h2:first-child{
    font-family: var(--font-title);
    font-size: 1.5rem;
}

.footer-name .names{
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 6px;
}

.contact{
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 12px;
}

.contact h3{
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.32em;
    text-transform: uppercase;
}

.contact form{
    display: flex;
    flex-direction: column;
    gap: 12px;
}

form input, form button{
    width: 300px;
    height: 33px;
    font-family: var(--font-text);
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0.15rem;
    background: var(--white);
    border: none;
    padding-left: 16px;
}

form button{
    display: flex;
    padding: 0;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    width: 100px;
    background-color: var(--yellow);
    color: var(--blue);
    border: none;
    font-weight: 600;
}
